/*
 * Copyright (c) 2023 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

/ {
	/* The timer instance to use. */
	chosen {
		ncs,dm-timer = &timer2;
	};

	/* The selected pins will be used by Distance Measurement module for debug purposes. */
	dm_gpio {
		compatible = "gpio-leds";
		dm_ranging: dm-ranging {
			gpios = <&gpio0 20 GPIO_ACTIVE_LOW>;
			label = "DM Ranging Pin";
		};
		dm_add_request: dm-add-request {
			gpios = <&gpio0 22 GPIO_ACTIVE_LOW>;
			label = "DM Add request Pin";
		};
	};

	aliases {
		/delete-property/ sw1;
		/delete-property/ sw2;
		/delete-property/ sw3;
	};
};

&button0 {
	gpios = <&gpio1 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
};

&pwm_led0 {
	pwms = <&pwm0 0 PWM_MSEC(20) PWM_POLARITY_INVERTED>,
		   <&pwm0 1 PWM_MSEC(20) PWM_POLARITY_INVERTED>,
		   <&pwm0 2 PWM_MSEC(20) PWM_POLARITY_INVERTED>;
};

&led1 {
	label = "Red RGB ";
	gpios = <&gpio0 8 GPIO_ACTIVE_LOW>;
};

&led2 {
	label = "Green RGB ";
	gpios = <&gpio1 9 GPIO_ACTIVE_LOW>;
};

&led3 {
	label = "Blue RGB ";
	gpios = <&gpio0 12 GPIO_ACTIVE_LOW>;
};

&led0 {
	gpios = <&gpio0 6 GPIO_ACTIVE_LOW>;
};

&pwm0_default {
	group1 {
		psels = <NRF_PSEL(PWM_OUT0, 0, 8)>;
	};

	group2 {
		psels = <NRF_PSEL(PWM_OUT1, 1, 9)>, <NRF_PSEL(PWM_OUT2, 0, 12)>;
	};
};

&clock {
	status = "disabled";
};

&acl {
	status = "disabled";
};

&button1 {
	gpios = <&gpio1 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
};

&button2 {
	gpios = <&gpio1 13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
};

&button3 {
	gpios = <&gpio1 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
};

&spi1 {
	status = "disabled";
};

&spi3 {
	status = "disabled";
};

&i2c0 {
	status = "disabled";
};

&qspi {
	status = "disabled";
};

&uart0 {
	status = "disabled";
};
